.nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.nav button {
  padding-inline: 0.5rem;
  padding-bottom: 4px;
  width: fit-content;
  border: transparent;
  background: transparent;
  text-align: start;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.2s ease;
  color: #828282;
}

.nav button:hover {
  color: #333333;
  border-bottom: 4px solid #00ada1;
}

.nav button.selected {
  color: #333333;
  border-bottom: 4px solid #00ada1;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  overflow: hidden !important;
}

.body .section_body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.body .section_body::-webkit-scrollbar {
  width: 10px;
  background: var(--scrollbar-color);
  border-radius: 20px;
}

.body .section_body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
  background: var(--scrollbar-thumb-color);
}

.fragments_cont {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fragments_cont > div:first-child h4 {
  margin-bottom: 0.5rem;
}

.fragments_cont .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fragment {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #333333;
  border-radius: 7px;
  padding: 0.25rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.fragment_saved {
  background: var(--fragment-saved-background);
  border: 4px solid var(--fragment-saved-border);
}

.fragment > p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
  margin: 0;

  text-align: left;
  font: normal normal normal 15px/20px Segoe UI;
  letter-spacing: 0px;
}

.fragment > button {
  background: transparent;
  border-color: transparent;
}

.fragment.fragment_selected,
.fragment:hover {
  background-color: #62769a;
  border-color: #62769a;
}

.fragment.fragment_selected > p,
.fragment:hover > p {
  color: #ffffff;
}

.fragment.fragment_selected > button,
.fragment:hover > button {
  color: #ffffff;
}

.form h4 {
  text-align: left;
  font: normal normal bold 18px / 24px Segoe UI;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin: 0;
}
