.option_cont {
  padding: 1rem 2rem;
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  flex-flow: column nowrap;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: var(--box-shadow-style);
}

.option_cont h2 {
  text-align: left;
  font: normal normal 400 15px/20px Segoe UI;
  letter-spacing: 1.75px;
  color: #333333;
  text-transform: uppercase;
}

.option_cont h4 {
  text-align: left;
  font: normal normal bold 18px/24px Segoe UI;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  margin: 0;
}

.option_cont > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.option_cont > div:nth-child(2) {
  height: 100%;
  padding-right: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
}

.option_cont .controls {
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  gap: 1rem;
}

.option_cont .controls .accept,
.option_cont .controls .reject {
  padding: 0.5rem 1rem;
  font: normal normal bold 15px/20px Segoe UI;
  border-width: 1px;
  letter-spacing: 0px;
  border-style: solid;
  flex-grow: 1;
  border-radius: 5px;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease;
}

.option_cont .controls .reject {
  background: var(--btn-reject-color);
  border-color: #333333;
  color: #333333;
}

.option_cont .controls .accept {
  border-color: #62769a;
  background-color: var(--btn-accept-color);
  border-color: var(--btn-accept-color);
  color: #ffffff;
}

.option_cont .controls .accept:hover {
  background-color: var(--btn-accept-color-hover);
  border-color: var(--btn-accept-color-hover);
}

.option_cont .controls .reject:hover {
  background-color: var(--btn-reject-color-hover);
  border-color: var(--btn-reject-color-hover);
  color: #fff;
}
