.option_cont {
  padding: 1rem 2rem;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
}

.option_cont h2 {
  text-align: left;
  font: normal normal 400 15px/20px Segoe UI;
  letter-spacing: 1.75px;
  color: var(--text-primary);
  text-transform: uppercase;
}

.option_cont h4 {
  text-align: left;
  font: normal normal bold 18px/24px Segoe UI;
  letter-spacing: 0px;
  color: var(--text-primary);
  opacity: 1;
  margin: 0;
}

.option_cont > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.option_cont > div:nth-child(2) {
  height: 100%;
  padding-right: 0.5rem;
  overflow: hidden;
  overflow-y: auto;
}

.option_cont > div:nth-child(2)::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-background);
  border-radius: 20px;
}

.option_cont > div:nth-child(2)::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
  background: var(--scroll-color);
}

.controls {
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  gap: 1rem;
}

.controls .accept,
.controls .reject {
  padding: 0.5rem 1rem;
  font: normal normal 15px/20px Segoe UI;
  border: 1px solid;
  letter-spacing: 0px;
  flex-grow: 1;
  border-radius: 5px;
}

.controls .reject:disabled,
.controls .accept:disabled {
  opacity: 0.5;
}

.controls .accept {
  background-color: var(--btn-primary);
  border-color: var(--btn-primary);
  color: var(--text-secundary);
}
.controls .reject {
  background-color: var(--btn-secundary);
  border-color: var(--btn-border-color);
  color: var(--text-primary);
}

.controls .accept:hover:not(:disabled) {
  border-color: var(--btn-primary-hover);
  background-color: var(--btn-primary-hover);
  color: var(--text-primary);
}

.controls .reject:hover:not(:disabled) {
  border-color: var(--btn-secundary-hover);
  background-color: var(--btn-secundary-hover);
  color: var(--text-secundary);
}
