.Login {
  z-index: 9999;
  background-image: linear-gradient(
    to right top,
    #00ada1,
    #00a1ae,
    #2793b0,
    #4c84a9,
    #62769a
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  position: fixed;
  inset: 0;
}

.login_modal {
  width: min(600px, calc(100% - 5rem));
  background-color: whitesmoke;
  box-shadow: 3px 3px 6px gray;
  border-radius: 10px;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  white-space: balance;
}
