.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.7rem;
}

.container > div:first-child,
.container > div:last-child {
  border-radius: 5px;
}

.container > div:first-child {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--box-color);
  box-shadow: var(--box-shadow);
  transition: all 0.2s ease;
}

.container > div:first-child h2 {
  font: normal normal 400 15px/20px Segoe UI;
  letter-spacing: 1.75px;
  color: var(--text-primary);
  text-transform: uppercase;
  opacity: 1;
  margin: 0;
}
.container > div:first-child button {
  border: none;
  background: transparent;
  color: var(--text-primary);
}
