.container {
  background-color: var(--text-primary);
  color: var(--bg-primary);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  gap: 2rem;
}

.container div:first-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container h1 {
  margin: 0;
  font-size: clamp(1rem, 1vw, 3rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  cursor: pointer;
}
.container h1.open {
  white-space: wrap;
  animation: fade 0.5s ease forwards;
}

.container h1:hover {
  text-decoration: underline;
}

.container p {
  margin: 0;
  white-space: nowrap;
  font-weight: bold;
  font-size: clamp(1rem, 1vw, 3rem);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
