.container {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}


.container p {
  color: var(--text-color);
  margin: 0;
}

.container > div {
  flex-grow: 1;
}

.container > div {
  width: 100%;
}
