.container {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.container p {
  color: var(--text-primary);
  margin: 0;
  transition: font-size 0.5s ease;
  color: var(--text-primary);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.container > div {
  width: 100%;
  flex-grow: 1;
}
