.component_manager {
  animation: fade 0.5s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont_global {
  display: grid;
  grid-template-columns: 1fr 337px;
  height: calc(100vh - 60px);
  padding-inline: 2rem;
  background-color: var(--bg-primary);
}

.cont_options_bar {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 337px;
  opacity: 1;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.cont_options_bar header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.cont_options_bar header button {
  flex-grow: 1;
  border: none;
  font-size: 1.3rem;
  background: transparent;
  opacity: 0.5;
  transition: opacity 0.2s ease;
  color: var(--text-important);
}

.cont_options_bar header button.selected {
  background-color: var(--box-color);
  opacity: 1;
  box-shadow: var(--box-shadow);
  z-index: -1;
}

.cont_article_sections {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.cont_article_sections > div {
  padding-right: 2rem;
}

.scrolled_section {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 0.5rem;
}

.scrolled_section::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-background);
  border-radius: 20px;
}

.scrolled_section::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
  background: var(--scroll-color);
}
