/* 
.cont_page::-webkit-scrollbar {
  width: 12px;
}

.cont_page::-webkit-scrollbar-track {
  background: #cccccc80;
}

.cont_page::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: none;
} */

.page {
  border-radius: 10px;
}

.page > p {
  width: fit-content;
  margin: 0 auto;
  color: var(--text-primary);
  white-space: pre-wrap;
}
