.page_editable {
  margin-top: 0.5rem;
  border-radius: 10px;
  transition: font-size 0.5s ease;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 1rem;
  width: 100%;
  height: 50vh;
}

.page {
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.page > p {
  border: 2px dashed transparent;
  transition: font-size 0.5s ease;
  color: var(--text-primary);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.edit_controls {
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-self: center;
  width: 100%;
}

.edit_controls > button {
  width: 130px;
  background-color: var(--btn-primary);

  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
  gap: 0.5rem;
  color: var(--text-secundary);
  padding: 0.5rem 1rem;
}

.edit_controls > button:hover {
  background-color: var(--btn-primary-hover);
  color: var(--text-primary);
}
