:root {
  --bg-body: #f5f7fa;
  --color-primary: #fff;
  --text-color: #333;
  --color-section: #333333;
  --color-secondary: #21232a;
  --btn-color-select: #00c0b0;
  --btn-color-basic: #1b2942;
  --box-shadow-style: 0px 3px 6px #00000029;

  --text-important-color: #333333;
  --text-normal-color: #333;
  --btn-accept-color: #62769a;
  --btn-accept-color-hover: #00ada1;
  --btn-reject-color: transparent;
  --btn-reject-color-hover: #ff7588;

  --scrollbar-color: #82828250;
  --scrollbar-thumb-color: #62769a;

  --fragment-saved-background: #c4fcef;
  --fragment-saved-border: #00c9a770;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /* overflow-X: hidden; */
  scroll-behavior: smooth;
  background: var(--bg-body) !important;
}

body::-webkit-scrollbar {
  width: 1rem;
  background-color: #cccccc60;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.bg_sec {
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-style);
  padding: 2.5rem 2rem;
}
