:root {
  --box-shadow: 0px 3px 6px #00000029;
  --border: 1px solid #333333;

  --bg-primary: #ffffff;
  --box-color: #ffffff;

  --text-primary: #333;
  --text-secundary: #fff;
  --text-important: #62769a;

  --btn-primary: #62769a;
  --btn-secundary:#fff;
  --btn-selected: #00ada1;

  --btn-border-color: #333;

  --btn-primary-hover: #00ada1;
  --btn-secundary-hover: #ff7588;

  --scroll-background: #828282;
  --scroll-color: #62769a;
}

.App.dark {
  --box-shadow: 0px 3px 6px #333;
  --bg-primary: #21232a;
  --box-color: #686d76;

  --text-primary: #fff;
  --text-secundary: #333;
  --text-important: rgb(255, 255, 255);

  --btn-primary-hover: #00ada1;
  --btn-secundary-hover: #ffffff;

  --btn-border-color: #333;
  --btn-primary:  #fff;
  --btn-secundary: #474747;
  --btn-selected: #62769a;

  --scroll-background: #828282;
  --scroll-color: #62769a;

  --border: 1px solid #959595;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  /* overflow-X: hidden; */
  scroll-behavior: smooth;
  background: var(--bg-body) !important;
}

body::-webkit-scrollbar {
  width: 1rem;
  background-color: #cccccc60;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.bg_sec {
  background-color: var(--box-color);
  box-shadow: var(--box-shadow);
  padding: 2.5rem 2rem;
}
