.floatControls {
  width: fit-content;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-100%);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: var(--box-shadow);
  animation: fade 0.4s ease forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
