.container {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  width: clamp(20rem, 18vw, 30rem);
  height: clamp(3rem, 4vw, 5rem);
  border: 2px solid var(--border-toast-succes);
  background-color: var(--bg-toast-succes);
  color: var(--color-toast-succes);
  animation: enter 0.2s ease;
  font-size: clamp(16px, 1vw, 1.2rem);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.container > div {
  color: var(--color-toast-succes);
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.container p {
  margin: 0;
}

@keyframes enter {
  from {
    left: -300px;
  }
  to {
    left: 0px;
  }
}
